*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #db0a81;
  --secondary-color: #fdd8ed;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: var(--gray-100);
  color: #000;
  font-size: 16px;
}

.app {
  max-width: 1440px;
  margin: auto;
}
